/* Glowna */
h1 {
    font-size: 56px; /* Zwieksza rozmiar */
    text-align: center;
}

/* placement */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* droplist wyglad */
#optionDropdown {
    width: 300px; /* Szerokosc */
    height: 80px; /* wysokosc  */
    font-size: 40px; /* font size */
    border-radius: 10px; /* ksztalt */
    padding: 10px;
    overflow: hidden; /* overflow text  */
    white-space: nowrap; /* zawijanie tekstu */
}

/* wyglad go button */
#goButton {
    margin-top: 40px;
    padding: 20px 40px;
    font-size: 36px; /* font size */
    background-color: #007bff; /* kolor przycisku */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
